// pin 42 (link_d[0]) pulled up as "btn_s1", pin 41 (link_d[1]) pulled down as "btn_s2"; nothing attached
IO_LOC  "clk27" 4;
IO_PORT "clk27" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "btn_s1" 42;
IO_PORT "btn_s1" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "btn_s2" 41;
IO_PORT "btn_s2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "uart_tx" 69;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "led[0]" 15;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "led[1]" 16;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "led[2]" 17;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "led[3]" 18;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "led[4]" 19;
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "led[5]" 20;
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
